* {
    color-scheme: dark;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    box-align: left; 
}

#MergeButton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 8px 24px;
}

#SavingText {
    transition: opacity 0.5s;
}

#Studs {
    font-family: Arial, Helvetica, sans-serif;
    box-align: left; 
    margin: 5px;
}

#Settings {
    display: flex;
    background-color: #363b41;
    border-radius: 0.25rem;
    transition: 0.5s;
    position: absolute;
    right: 1%;
    margin: 5px;
    
    height: 80vh;
    width: 20vw;
    /* Glow effect */
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
}

#SettingsBtn {
    box-align: right;
    margin:5px;

    transition: 0.2s;
}

#SettingsBtn:hover {
    /* color: gold; */
    text-shadow: 0 0 5px gold;
}

#UpgradesBtn {
    box-align: right;
    margin:5px;

    transition: 0.2s;
}

#UpgradesBtn:hover {
    /* color: gold; */
    text-shadow: 0 0 5px gold;
}

#Upgrades {
    display: flex;
    background-color: #363b41;
    border-radius: 0.25rem;
    transition: 0.5s;
    position: absolute;
    right: 1%;
    margin: 5px;

    height: 80vh;
    width: 20vw;
    /* Glow effect */
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

/* === RESPONSIVE CSS === */
/* Small Screens */
@media only screen and (max-width: 600px) {

}
/* Large Screens */
@media only screen and (min-width: 600px) {}
